@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

body, p, ul, ol, dl, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

code, pre, kbd, samp {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
}

pre {
  font-size: 0.95em;
  line-height: 1.5;
}
